.separator{
    border-bottom: 3px solid #004b55; 
    padding-bottom: 5px; 
  }

  h1{
    color: #a7a7a7;
  }

  h2{
      color: #a7a7a7;
    
  }

  .body .pageTitle h1{
    margin-bottom: -20px;
  }

  .body .pageTitle1 h2{
    margin-bottom: -15px;
    color: #a7a7a7;
  }

  .body .subh{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    margin-top: 20px;
}

#icon{
    font-size: 30px;
    font-weight: bold;
    color: #a7a7a7;
}

.create{
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    margin: 30px;
}

.table{
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.top-border-box {
  border-top: 5px solid #004b55; 
  border-radius: 0.25rem;
  padding: 1rem;
  background-color: #f8f9fa;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.description {
    color: lightgray;
    font-style: italic;
    margin-top: 5px;
  }
  .project-title {
    font-weight: bold;
    font-size: 1.1rem;
  }
  .project-cell {
    padding: 10px;
  }

.project-column {
	width: 30%;
	word-break: break-word;
}

.text-wrap {
	word-break: break-word;
	white-space: normal;
}

.desc{
  margin-top: -3px;
}

.member-pill {
  background-color: #007bff;
  color: white;
  border-radius: 20px;
  padding: 5px 10px;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 5px;
  font-size: small;
}

.line {
  display: inline-block;
  border-bottom: 1px solid rgb(56, 56, 255); 
  padding-bottom: 0px; 
}
.modal-dialog-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
.textArea {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 10px;
  min-height: 150px;
}

.text-wrap {
  word-wrap: break-word;
}

.deletebtn{
  color: rgb(226, 0, 0);
}
